html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
  color: white
}

/* created "title.link" class to remove hyperlink underline. */
.title-link {
  text-decoration: none;
  border: none;
}


p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: white
}

html {
  background-color: black;
}

body {
  width: 600px; 
  margin: 0 auto;
  background-color: black;
  padding: 0 20px 20px 20px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  text-decoration: none;
  border: none
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}